
#jeff{

    /* padding:100px; */
    /* margin-left: 10px; */
    margin: 250px;
    background-color: rgb(38, 18, 55);
    width: fit-content;
    border-radius: 20px;
    padding: 20px ;
    /* margin-top: -1px; */
    margin-top: 30px;
      
  }

  #jeff1{
    margin-left: 500px;
    /* margin-bottom: 100px; */
    /* margin-top: -200px; */
    font-size: 18px;
  }